@import "../variables";

#appointment
{
    background: $bgColor;

    .col-12
    {
        padding: 60px 10px 30px;

        .content {
            padding: 10px 20px;
            margin-bottom: 10px;
            color: $darkColor;
            background: $lightColor;
            box-shadow: 0 0 5px rgba(0, 0, 0, .2);
            border-radius: 5px;

            @media (max-width: 850px) {
                max-width: 720px;
                overflow: auto;
            }

            .title {
                margin-top: 20px;
                font-size: 22px;
                font-family: "SemiBold", sans-serif;
            }

            .line {
                margin: 20px 0;
            }

            .description {
                color: #777777;
                font-size: 14px;
            }

            select
            {
                height: 42px;
                padding: 10px 20px;

                &:focus {
                    box-shadow: none;
                    border: 1px solid #ced4da;
                }
            }

            input,
            textarea
            {
                margin-bottom: 15px;

                &:focus {
                    box-shadow: none;
                    border: 1px solid #ced4da;
                }
            }

            .appointment-btn
            {
                margin-bottom: 10px;
                text-align: center;

                button
                {
                    box-shadow: 0 0 8px $mainColor;
                    background: $mainColor;
                    font-size: 14px;
                    padding: 9px 20px;
                    font-family: "SemiBold", sans-serif;
                    border-color: $mainColor;

                    &:hover {
                        background: $lightColor;
                        color: $mainColor;
                    }
                }
            }
        }
    }

    .appointment-bg
    {
        text-align: center;

        img {
            height: 100%;
        }
    }
}
