@import "../variables";

#appointment
{
    background: #F2F7FB;

    .col-12
    {
        padding: 40px 10px 0 10px;

        .content {
            padding: 30px 20px 10px;
            margin-bottom: 10px;
            color: $darkColor;
            background: $lightColor;
            box-shadow: 0 0 2px rgba(0, 0, 0, .1);
            border-radius: 5px;

            @media (max-width: 850px) {
                max-width: 720px;
                overflow: auto;
            }

            .title {
                margin-top: 20px;
                font-size: 22px;
                font-family: "SemiBold", sans-serif;
            }

            .line {
                margin: 20px 0;
            }

            .description {
                color: #777777;
                font-size: 14px;
            }

            input,
            textarea
            {
                margin-bottom: 20px;
                padding: 1.375rem .75rem;
                color: #777777;
                border: 1px solid #ddd;
            }

            .appointment-btn
            {
                margin-bottom: 15px;
                text-align: center;

                button
                {
                    box-shadow: 0 0 5px $mainColor;
                    background: $mainColor;
                    font-size: 12px;
                    padding: 9px 20px;
                    font-family: "SemiBold", sans-serif;
                    border-color: $mainColor;

                    &:hover {
                        background: $lightColor;
                        color: $mainColor;
                    }
                }
            }
        }

        img {
            width: 100%;
        }
    }

    .col-sm-12
    {
        .select
        {
            margin-bottom: 25px;
            font-size: 15px;

            .css-1uccc91-singleValue {
                color: #777777;
            }
        }
    }
}
