@import "../variables.scss";
@import "./assets/flaticons.css";


//fonts
@font-face {
  font-family: "Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins-Regular"), url("assets/fonts/Poppins-Regular.woff") format("woff");
}

@font-face {
  font-family: "ExtraLight";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins-ExtraLight"), url("assets/fonts/Poppins-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Light";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins-Light"), url("assets/fonts/Poppins-Light.woff") format("woff");
}

@font-face {
  font-family: "Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins-Bold"), url("assets/fonts/Poppins-Bold.woff") format("woff");
}

@font-face {
  font-family: "SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins-SemiBold"), url("assets/fonts/Poppins-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins-Bold"), url("assets/fonts/Poppins-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Black";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins-Black"), url("assets/fonts/Poppins-Black.woff") format("woff");
}

@font-face {
  font-family: 'icons';
  src: url('assets/fonts/icons.eot');
  src: url('assets/fonts/icons.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/icons.woff') format('woff'),
  url('assets/fonts/icons.ttf') format('truetype'),
  url('assets/fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

body, h1, h2, h3, h4, h5, h6, input, textarea, button {
  font-family: "Regular", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
}