@import '../variables';

#settings
{
    .container
    {
        margin-top: 40px;

        .side-bar-settings
        {
            padding: 15px 20px;
            margin-bottom: 40px;
            border-radius: 4px;
            box-shadow: 0 0 8px #dbdbdb;

            @media (max-width: 992px) {
                margin-bottom: 40px;
            }

            .nav-item
            {
                display: block;
                width: 100%;
                text-align: left;
                border: none;
                border-radius: 0;
                border-bottom: 1px solid #cdcdcd;
                background: #fff;
                position: relative;
                text-transform: capitalize;
                margin-bottom: 5px;

                &:hover a{
                    color: $mainColor !important;
                    transition: .2s ease-in-out;
                }

                &:hover i{
                    color: $mainColor !important;
                }

                @media (max-width: 992px) {
                    display: inline-block;
                    width: fit-content;
                    border-bottom: none;
                    i {
                        display: none;
                    }
                }

                &:nth-child(5) {
                    border-bottom: 0;
                }

                a
                {
                    color: $darkerColor;
                    padding: 10px 16px;

                    @media (max-width: 768px) {
                        padding: 10px 26px;
                    }

                    @media (max-width: 540px) {
                        padding: 8px;
                    }

                    @media (max-width: 414px) {
                        padding: 10px;
                    }

                    &:before {
                        width: 1px;
                        height: 20px;
                        content: " ";
                        background: #cdcdcd;
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 10px;
                    }
                }

                i {
                    float: right;
                    font-size: 14px;
                    padding-top: 5px;
                    color: #cdcdcd;

                }

            }

            .active
            {
                background: $lightColor;
                color: $mainColor !important;

                &:before {
                    background: $mainColor !important;
                }

                i {
                    color: $mainColor !important;
                }
            }
        }
    }
}