@import "../variables";

#shop
{
    .container
    {
        .col-12 {
            margin-top: 40px;
        }


        .pagination
        {
            ul
            {
                margin: 30px auto;
                border: 1px solid #e6e6e6;
                padding: 0;
                list-style: none;

                li
                {
                    display: inline-block;
                    padding: 10px 15px;
                    border: 1px solid #e6e6e6;

                    a
                    {
                        color: $mainColor;

                        &:hover {
                            text-decoration: none;
                        }

                        &:focus {
                            outline: none;
                        }
                    }
                }

                .active
                {
                    background: $mainColor;

                    a {
                        color: $lightColor;
                    }
                }
            }
        }
    }
}