@import "../variables.scss";

#single-doctor
{
    background: #f1f7fb;

    .lhs, .rhs
    {
        padding: 12px;
        border-radius: 14px;

        .name-card, .personal-info, .emergency,
        .about-me
        {
            padding: 25px 20px;
            background: $lightColor;
            border-radius: 3px;
            margin-bottom: 30px;
            box-shadow: 0 0 8px #dbdbdb;

            h4
            {
                text-transform: capitalize;
                font-family: "SemiBold", sans-serif;
                font-size: 22px;

                &::after {
                    content: '';
                    width: 45px;
                    height: 3px;
                    background: $mainColor;
                    display: block;
                    margin-top: 15px;
                }
            }
        }

        .name-card
        {
            @media (max-width: 992px) {
                text-align: center;
            }

            img {
                width: 100%;
                max-width: 220px;
            }

            .doctor-rate {
                margin-top: 15px;

                svg {
                    margin: 0 2px;
                    cursor: pointer;
                }
            }

            h4
            {
                margin-top: 15px;

                &::after {
                    display: none;
                }
            }

            span {
                font-size: 14px;
                color: #777777;
            }

            p {
                color: $mainColor;
                font-family: "SemiBold", sans-serif;
                font-size: 14px;
                margin: 7px 0;
            }
        }

        .personal-info
        {
            p {
                font-size: 12px;
                font-family: "SemiBold", sans-serif;
                text-transform: capitalize;

                span
                {
                    padding-left: 20px;
                    text-transform: initial;

                    @media (max-width: 340px) {
                        padding-left: 0;
                    }

                    a
                    {
                        padding-left: 20px;
                        color: $mainColor;

                        &:nth-child(1) {
                            padding-left: 0;
                        }

                        &:hover {
                            color: #777777;
                        }
                    }
                }
            }
        }

        .emergency
        {
            margin: 0;
            background: $mainColor;
            color: $lightColor;
            box-shadow: 0 0 8px $mainColor;

            div
            {
                padding: 5px;
                font-family: "SemiBold", sans-serif;

                img {
                    width: 100%;
                    max-width: 45px;
                }

                p {
                    text-transform: capitalize;
                    margin-bottom: 5px;
                }

                span {
                    font-size: 13px;
                }
            }
        }

        .about-me
        {
            padding: 25px 60px;
            @media (max-width: 640px) {
                padding: 25px 20px;
            }

            h4 {
                margin-top: 40px;
                margin-bottom: 20px;
            }

            p {
                font-size: 14px;
                margin: 20px 0 0;
            }

            table
            {
                font-size: 14px;
                @media (max-width: 560px) {
                    font-size: 14px;
                    display: block;
                    overflow-x: scroll;

                }

                tr
                {
                    border: none;

                    &:nth-child(even) td, th {
                        background: #f1f7fb;
                    }

                    td, th
                    {
                        border: none;
                        vertical-align: middle;

                        @media (max-width: 800px) {
                            white-space: nowrap;
                        }

                        @media (max-width: 560px) {
                            padding: .5rem;
                        }
                    }
                }

                td:nth-child(1),
                th:nth-child(1) {
                    padding-left: 25px;
                    text-transform: capitalize;
                }

                td:last-child,
                th:last-child {
                    padding-right: 25px;
                }

                .book
                {
                    text-align: right;
                    padding: 7px;

                    button
                    {
                        font-size: 11px;
                        font-family: "SemiBold", sans-serif;
                        border: 1px solid $mainColor;
                        background: transparent;
                        color: $mainColor;
                        padding: 6px 30px;
                        text-transform: capitalize;

                        &:hover {
                            background: $mainColor;
                            color: $lightColor;
                            transition: .2s ease-in-out;
                        }

                        &:focus {
                            box-shadow: none;
                        }
                    }
                }

            }
        }
    }
}