@import '../../../variables';

#doctors-block
{
    .doctors-card
    {
        padding: 20px;
        text-align: center;
        background: $lightColor;
        margin: 0 15px 25px 0;

        .doc-img
        {
            position: relative;
            width: 100%;
            max-width: 300px;
            margin: auto;

            &:hover {
                opacity: 1;
            }

            img {
                display: block;
                width: 100%;
                height: auto;
                background: $bgColor;
                border-radius: 50%;
                cursor: pointer;
            }

            .overlay
            {
                position: absolute;
                bottom: 0;
                left: 0;
                background: rgba(57, 108, 240, .8);
                color: $lightColor;
                width: 100%;
                height: 100%;
                opacity: 0;
                font-size: 35px;
                padding: 40% 0;
                text-align: center;
                border-radius: 50%;
                font-family: "SemiBold", sans-serif;
                transition: .3s ease-in-out;
                cursor: pointer;

                &:hover {
                    text-decoration: none;
                }
            }

            &:hover
            {
                .overlay {
                    opacity: 1;
                }
            }
        }

        .content
        {
            .title {
                margin-top: 15px;
                font-size: 22px;
                font-family: "SemiBold", sans-serif;
            }

            span {
                color: $mainColor;
                font-size: 15px;
            }
        }

        .dropdown-divider {
            border-top: 1px solid #cdcdcd;
        }

        .date-time
        {
            display: flex;
            font-size: 14px;
            color: #777777;
            padding: 10px 0 10px 25px;

            .date {
                text-align: left;
            }

            span
            {
                display: inline-flex;

                @media (max-width: 800px) {
                    display: block;
                    margin: 0 20px;
                }

                @media (max-width: 414px) {
                    margin-right: 35px;
                }

                @media (max-width: 375px) {
                    margin-right: 10px;
                }
            }
        }

        .btn
        {
            button
            {
                background: transparent;
                border: 1px solid $mainColor;
                padding: 10px 20px;
                font-size: 13px;
                color: $darkColor;
                text-transform: uppercase;
                font-family: "SemiBold", sans-serif;
                border-radius: 5px;
                transition: .3s ease-in-out;

                &:hover {
                    background: $mainColor;
                    color: $lightColor;
                }
            }
        }
    }
}