@import '../../../variables';

#searchBar
{
    position: absolute;
    top: -15px;
    right: 100%;
    z-index: 200;
    animation: animation .3s;

    @media (max-width: 800px) {
        left: 90%;
    }

    input
    {
        width: 780px;
        height: 60px;
        padding: 0 20px;
        color: $lightColor;
        background: $mainColor;
        border: 1px solid #777;
        border-radius: 5px;
        outline: none;

        &::placeholder {
            color: $lightColor;
        }

        @media (max-width: 800px) {
            width: 690px;
        }

        @media (max-width: 414px) {
            width: 350px;
        }

        @media (max-width: 375px) {
            width: 315px;
        }

        @media (max-width: 360px) {
            width: 300px;
        }
    }
}