@import '../../../variables';

.blog-contianer 
{
    margin-bottom: 25px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;

    .img-side
    {
        position: relative;

        img {
            max-width: 100%;
        }

        span 
        {
            position: absolute;
            top: 20px;
            left: 20px;
            width: 57px;
            padding: 8px;
            background-color: $mainColor;
            color: $secondColor;
            text-align: center;
            border-radius: 5px;

            @media (max-width: 414px) 
            {
                & {
                    top: 10px;
                    left: 10px;
                    width: 50px;
                    padding: 7px;
                }
            }
        }
    }

    .content 
    {
       margin: 20px;

        h3 
        {
            font-size: 24px;

            @media (max-width: 720px) 
            {
                & {
                    font-size: 18px;
                }
            }

            @media (max-width:414px) 
            {
                & {
                    font-size: 16px;
                }
            }
        }

        p {
            margin-bottom: 25px;
            color: $darkColor;
            font-size: 13px;
        }

        .author
        {
            margin-right: 20px;
            color: $darkerColor;

            i {
                margin-right: 10px;
                color: $mainColor;
            }

            span {
                margin-left: 5px;
                color: $mainColor;
            }
        }

        .comment 
        {
            i {
                margin-right: 10px;
                color: $mainColor;
            }
        }
    }
}