@import "../../variables";

#appointment,
#orders
{
    .add-appointment
    {
        margin-bottom: 20px;
        text-align: right;

        .appointment-btn
        {
            button
            {
                color: $lightColor;
                background: $mainColor;
                font-size: 14px;
                padding: 9px 20px;
                font-family: "SemiBold", sans-serif;
                border: 1px solid $mainColor;
                border-radius: 5px;
                transition: .3s ease-in-out;

                &:hover
                {
                    background: $lightColor;
                    color: $mainColor;
                }

                .fas {
                    padding-right: 5px;
                }
            }
        }
    }

    .table
    {
        h4 {
            margin-top: 40px;
            margin-bottom: 20px;
        }

        p {
            font-size: 14px;
            margin: 20px 0 0;
        }

        Table
        {
            font-size: 14px;
            text-align: center;


            @media (max-width: 560px) {
                font-size: 14px;
                display: block;
                overflow-x: scroll;

            }

            .delete{
                background: none;
                border: none;
                &:focus{
                    box-shadow: none;
                    border: none;
                }

                i{
                    color: red;
                }
            }

            tr
            {
                border: none;

                th {
                    background: #f1f7fb;
                    border: none;
                }

                td, th
                {
                    vertical-align: middle;

                    @media (max-width: 800px) {
                        white-space: nowrap;
                    }

                    @media (max-width: 560px) {
                        padding: .5rem;
                    }

                    i {
                        font-size: 16px;
                        color: $darkerColor;
                    }

                    .message-icon {
                        color: $mainColor;
                    }
                }
            }

            td:nth-child(1),
            th:nth-child(1) {
                padding-left: 25px;
                text-transform: capitalize;
            }

            td:last-child,
            th:last-child {
                padding-right: 25px;
            }
        }
    }
}

.modal
{
    .modal-header
    {
        margin: 10px 0;
        .modal-title {
            font-size: 18px;
            font-family: "SemiBold", sans-serif;
            text-transform: capitalize;
        }
    }


    .modal-body
    {
        .form-control {
            box-shadow: none;
        }

        .date-btn {
            margin-top: 10px;
        }
    }

    .modal-footer
    {
        border: none;
        .btn-primary {
            color: $lightColor;
            background: $mainColor;
            font-size: 14px;
            padding: 9px 20px;
            font-family: "SemiBold", sans-serif;
            border: 1px solid $mainColor;
            transition: .3s ease-in-out;
            margin:5px auto;

            &:hover
            {
                background: $lightColor;
                color: $mainColor;
            }

            .fas {
                padding-right: 5px;
            }
        }
    }
}
