@import '../../variables';

#our-departments
{
    background: url("./Departments.png") top no-repeat;
    background-size: cover;
    text-transform: capitalize;

    .container
    {
        padding: 40px 0;

        .departments-header
        {
            @media (max-width: 414px) {
                padding: 0 20px;
            }

            .title {
                font-size: 30px;
                margin-bottom: 15px;
                font-family: "SemiBold", sans-serif;
            }

            .sub-title {
                color: #666;
                margin-bottom: 15px;
            }

            .line {
                display: block;
                width: 60px;
                height: 4px;
                margin-top: 15px;
                background: $mainColor;
            }
        }

        .departments-content
        {
            padding-top: 20px;

            @media (max-width: 540px) {
                padding: 9px;
            }
        }

        .alice-carousel__dots {
            display: none;
        }

        .alice-carousel__prev-btn [data-area]::after,
        .alice-carousel__next-btn [data-area]::after
        {
            position: absolute;
            color: $mainColor;
            background: $lightColor;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            font-size: 25px;
            line-height: 1.3;
            padding-left: 8px;
            top: -22%;
            right: 10px;
            font-family: "Regular", sans-serif;
        }

        .alice-carousel__prev-btn [data-area]::after {
            right: 50px;
            padding-right: 8px;
        }
    }
}