@import '../../variables';

#profile
{
    margin-bottom: 40px;

    .spinner-border {
        width: 1em;
        height: 1em;
    }

    .text-primary {
        color: $lightColor !important;
    }

    .profile-form
    {
        @media (max-width: 992px) {
            margin-bottom: 50px;
        }

        input, textarea, select
        {
            width: 100%;
            margin-bottom: 15px;
            padding: 20px;
            font-size: 14px;
            border: 1px solid #ced4da;
            border-radius: 3px;
            resize: none;

            &:focus {
                box-shadow: none;
                border: 1px solid #ced4da;
            }
        }

        label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            border: 1px solid #ced4da;
            margin-bottom: 15px;
            padding: 10px 21px 10px 21px;
            font-size: 14px;
            color: #80848c;
            border-radius: 3px;
            cursor: pointer;
        }

        #upload-image,
        #upload-certificate {
            display: none;
        }

        select
        {
            height: 42px;
            padding: 10px 20px;

            &:focus {
                box-shadow: none;
                border: 1px solid #ced4da;
            }
        }

        button
        {
            box-shadow: 0 0 8px $mainColor;
            background: $mainColor;
            font-size: 14px;
            padding: 9px 20px;
            font-family: "SemiBold", sans-serif;
            border-color: $mainColor;

            &:hover
            {
                background: $lightColor;
                color: $mainColor;

                .text-primary {
                    color: $mainColor !important;
                }
            }
        }

    }
}